.banner {
    background: url('https://s1.1zoom.me/b6058/448/Dogs_Svetlana_Shelemeteva_Hug_Little_girls_568770_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.authImg {
    background: url('../../assets/auth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    .authCard {
        background: url('../../assets/auth.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}